body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#spinner {
  display: none;
}

#toast-warning {
  display: none;
}

#nav {
  background-color: #091134;
}


#tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

#tooltip .tooltiptext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: 15vw;
  top: 100%;
  right: 0%;
  margin-top: 40px;
  background-color: #00a0da;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

#tooltip:hover .tooltiptext {
  visibility: visible;
}

footer{
  margin-top: auto;
  background-color: #091134;
}